.button {
  width: 400px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  color: #82b284;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    border: 1px solid #e5e5e5;
    color: #98c88c;
  }

  &:focus {
    border: 1px solid #cdcdcd;
    color: #58a742;
  }

  &__text{
    width: 100%;
  }

  &__plus {
    margin: 12px;
  }
}
