.side-menu {
  background: #f7f7f7;
  min-width: 230px;

  &__info {
    margin: 20px 42px;
  }

  &__item {
    padding: 12px 52px 12px 16px;
    background: #eeeeee;
  }

  &__link {
    color: #82b284;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    gap: 12px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 2px;
    line-height: 26px;
  }

  &__position {
    font-size: 12px;
  }
}
